body {
    background-color: #d3dcfd;
}
*{
    margin: 0px;
}
h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 72px;
    font-family: sans-serif;
}
a:link{
    padding: 10px 10px 10px 10px;
    color: #cc0000;
    font-family: sans-serif;
    text-align: center;
}
a:hover {
    color: #faa0a0;
}
a:visited {
    color: #051e8b;
}
div.header {
    height: 90px;
    width: 100%;
    background-color: #d3dcfd;
    padding: 0px 0px 0px 0px;
}
div.left {
    float: left;
    height: 500px;
    width: 25%;
    background-color: #e4e5f0;
    padding: 10px 0px 10px 0px;
    font-family: sans-serif;
}
div.right {
    float: left;
    height: 500px;    
    width: 70%;
    background-color: #ffffff;
    padding: 10px 23px 10px 24px;
    font-family: sans-serif;
}
div.footer {
    width: 100%;
    background-color: #d3dcfd;
    padding: 10px 10px 10px 10px;
    text-align: center;
    font-family: sans-serif;
}
